<main>

<h1>Root#top</h1>
<p>Find me in app/views/root/top.html.erb</p>

<!-- 解説ページへのリンクと名言を引っ張ってくる予定 -->
<div class="container">
      <div class="row">
      		<p>pick up 名言</p>

            <%= @word.speaker %>より
            <%= @word.sp_word %>
            <%= link_to "解説ページへ", word_path(@word.id) %>

      </div>
</div>


<div class="container">
    <div class="row">
    	<p>ランキングを見る</p>
    	<span><a href="/favorites/lank_all">総合部門</a></span>
    	<span><a href="/favorites/lank_pro">著名人部門</a></span>
    	<span><a href="/favorites/lank_ama">一般人部門</a></span>
    </div>
</div>

<div class="container">
    <div class="row">
    	<span><a href="/words">名言を見る</a></span>

    </div>
</div>

<div>
<a href="/users">ユーザー一覧</a>
</div>
</main>



